* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #0E1112 0%, #00090E 100%);
  margin: 0;
  min-height: 100vh;
}

.app-container {
  width: 1200px;
  max-width: 90%;
  margin: 56px auto;
  display: flex;
  gap: 28px;
  min-height: 100vh;
}

.main-container {
  flex-grow: 1;
}

.search {
  width: 100%;
  display: inline-flex;
  gap: 8px;
}

.search button {
  background: #81FE88;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  color: #132E35;
  text-align: center;
  cursor: pointer;
}

a {
  color: #81FE88;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: underline;
}

a:visited {
  color: #81FE88;
}
